<div class="container">
	<div class="nav">
		<ul class="nav nav-tabs">
			<li class="active"><%= link_to 'Home', root_url %></li>
			<li><%= link_to 'About <strong>BREW</strong>beacon'.html_safe, about_path %></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Profiles</a>
				<ul class="dropdown-menu">
					<li><%= link_to 'About', about_path %></li>
					<li class="divider"></li>
					<li><%= link_to 'Login / Register'.html_safe, login_path %></li>
				</ul>
			</li>
			<li><%= link_to 'Brew Finder', brew_finder_path %></li>
			<li><a href="#">Home Brew</a></li>
		</ul>			
	</div>
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			<li data-target="#carousel-example-generic" data-slide-to="4"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active"><%= image_tag('beer1.jpg') %></div>
			<div class="item"><%= image_tag('beer2.jpg') %></div>
			<div class="item"><%= image_tag('beer3.jpg') %></div>
			<div class="item"><%= image_tag('beer4.jpg') %></div>
			<div class="item"><%= image_tag('beer5.jpg') %></div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	<h1>Welcome to <strong>BREW</strong>beacon</h1>
	<p>Vinyl flannel mlkshk lumbersexual. Biodiesel put a bird on it cliche, Brooklyn messenger bag blog deep v roof party tilde listicle fingerstache tote bag. Chambray 8-bit keffiyeh chia twee pop-up, single-origin coffee forage tote bag jean shorts messenger bag Vice. Church-key post-ironic meditation tilde. Lumbersexual PBR&B fap, gluten-free bitters hashtag quinoa mixtape flexitarian occupy. Crucifix put a bird on it PBR, Intelligentsia Godard cold-pressed photo booth fashion axe bitters Bushwick readymade kitsch. Pour-over master cleanse stumptown selfies, beard umami Carles farm-to-table mumblecore taxidermy chillwave.</p>

	<p>Single-origin coffee stumptown slow-carb retro banjo artisan irony polaroid. Biodiesel retro stumptown, forage salvia wayfarers heirloom ethical lomo banjo. Put a bird on it kogi cred keytar Vice pug. Mlkshk freegan trust fund, tote bag cold-pressed Odd Future normcore swag mustache. Crucifix whatever lomo, meggings lumbersexual retro butcher jean shorts church-key kitsch banh mi. Before they sold out you probably haven't heard of them Etsy, fashion axe pop-up locavore cray trust fund chambray Bushwick Shoreditch wolf hoodie bitters. Fap Brooklyn tattooed heirloom readymade, narwhal mixtape normcore umami High Life Austin retro freegan.</p>

	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<%= image_tag('user.png') %>
				<div class="caption">
					<h3>User Profile</h3>
					<p>Craft beer skateboard roof party, Echo Park flannel plaid bitters pork belly selvage health goth kitsch 3 wolf moon. Art party Bushwick Wes Anderson, literally ugh crucifix tofu authentic PBR asymmetrical hella hashtag. McSweeney's bitters plaid Carles flannel. Pitchfork Marfa kale chips Echo Park skateboard migas. Mustache meh seitan taxidermy tofu fap. Fap Banksy Intelligentsia mumblecore tattooed VHS, shabby chic Pinterest biodiesel locavore sartorial High Life 8-bit. Fingerstache Schlitz kogi, tilde skateboard semiotics raw denim disrupt twee vinyl irony tattooed.</p>
					<div class="modal-footer">
						<p><a href="login" class="btn btn-default" role="button"><i class="fa fa-user"></i> Login / Register</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<%= image_tag('map.png') %>
				<div class="caption">
					<h3>Brew Finder</h3>
					<p>Craft beer skateboard roof party, Echo Park flannel plaid bitters pork belly selvage health goth kitsch 3 wolf moon. Art party Bushwick Wes Anderson, literally ugh crucifix tofu authentic PBR asymmetrical hella hashtag. McSweeney's bitters plaid Carles flannel. Pitchfork Marfa kale chips Echo Park skateboard migas. Mustache meh seitan taxidermy tofu fap. Fap Banksy Intelligentsia mumblecore tattooed VHS, shabby chic Pinterest biodiesel locavore sartorial High Life 8-bit. Fingerstache Schlitz kogi, tilde skateboard semiotics raw denim disrupt twee vinyl irony tattooed.</p>
					<div class="modal-footer">
						<p><a href="#" class="btn btn-default" role="button"><i class="fa fa-location-arrow"></i> Find</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<%= image_tag('beer-icon2.png') %>
				<div class="caption">
					<h3>HomeBrew</h3>
					<p>Craft beer skateboard roof party, Echo Park flannel plaid bitters pork belly selvage health goth kitsch 3 wolf moon. Art party Bushwick Wes Anderson, literally ugh crucifix tofu authentic PBR asymmetrical hella hashtag. McSweeney's bitters plaid Carles flannel. Pitchfork Marfa kale chips Echo Park skateboard migas. Mustache meh seitan taxidermy tofu fap. Fap Banksy Intelligentsia mumblecore tattooed VHS, shabby chic Pinterest biodiesel locavore sartorial High Life 8-bit. Fingerstache Schlitz kogi, tilde skateboard semiotics raw denim disrupt twee vinyl irony tattooed.</p>
					<div class="modal-footer">
						<p><a href="#" class="btn btn-default" role="button"><i class="fa fa-beer"></i> Brew Me</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
