<div class="container">
	<div class="nav">
		<ul class="nav nav-tabs">
			<li><%= link_to 'Home', root_url %></li>
			<li><%= link_to 'About <strong>BREW</strong>beacon'.html_safe, about_path %></li>
			<li class="dropdown active">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">Profiles</a>
				<ul class="dropdown-menu">
					<li><%= link_to 'About', about_path %></li>
					<li class="divider"></li>
					<li><%= link_to 'Login / Register'.html_safe, login_path %></li>
				</ul>
			</li>
			<li><a href="#">Brew Finder</a></li>
			<li><a href="#">Home Brew</a></li>
		</ul>			
	</div>
	<div class="col-sm-5">
		<h1>Signup!</h1>
		<%= simple_form_for @user, url: '/users' do |f| %>
			<%= f.input :first_name, placeholder: "First Name" %>
			<%= f.input :last_name, placeholder: "Last Name" %>
			<%= f.input :username, placeholder: "Username" %>
			<%= f.input :email, placeholder: "email@email.com" %>
			<%= f.input :password, placeholder: "password" %>
			<%= f.input :password_confirmation, placeholder: "password" %>
			<%= f.button :submit, "Register" %>
		<% end %>
	</div>
	<div class="col-sm-5 col-sm-offset-1">
		<h1>Login!</h1>
		<% if flash.key? ('login_errors') %>
			<div class="list-group">
				<h4 class="list-group-item"><%= flash[:login_errors] %></h4>
			</div>
		<% end %>
		<%= simple_form_for :session, url: '/login' do |f| %>
			<%= f.input :email, placeholder: "email@email.com" %>
			<%= f.input :password, placeholder: "password" %>
			<%= f.button :submit, "Sign in" %>
		<% end %>
	</div>

</div>